.Home {
   height: 100vh;
   width: 100vw;
   max-height: 100vh;
   max-width: 100vw;

   font-family: Helvetica;
   color: white;
   text-transform: uppercase;
   background: black;

   display: grid;
   grid-template:
      "navigation legals" 1fr
      "header header" auto
      / 1fr 1fr;
}

.marginBottom {
   display: block;
   margin-bottom: 1em;
}

.menu {
   grid-area: navigation;

   width: fit-content;
   height: fit-content;
}

.legals {
   grid-area: legals;

   font-size: 0.3em;
   text-align: right;
   justify-self: end;

   max-width: 30em; 
   min-width: 15em;
   height: fit-content;
}

.header {
   grid-area: header;

   text-align: center;
   font-size: calc(100vw / 11); /* Font size is calculated specifically for the
      current content of the header (greedy.by.design®) to fill the viewport width*/
}

.dot::after {
   content: '.';
}

@media screen and (max-width: 600px) {
   .Home {
      grid-template:
         "navigation" auto
         "legals" 1fr
         "header" auto
         / 1fr;
      gap: 1em;
   }

   .legals {
      min-width: unset;
   }

   .dot {
      display: block;
   }

   .dot::after {
      content: none;
   }

   .header {
      font-size: calc(100vw / 5); /* Font size is calculated specifically for the
         current content of the header (greedy.by.design®) to fill the viewport width*/
   }

   .menu {
      justify-self: right;
      text-align: right;
   }
}