@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);
@font-face {
   font-family: 'Druk Wide Bold';
   src: url('//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot');
   src: url('//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot?#iefix') format('embedded-opentype'),
      url('//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff2') format('woff2'),
      url('//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff') format('woff'),
      url('//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.ttf') format('truetype'),
      url('//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.svg#Druk Wide Bold') format('svg');
}

#root {
   min-height: 100vh;

   display: grid;
   grid-template-rows:
      1fr
      auto;
   grid-template-areas:
      'page'
      'navigation';
}

.page {
   grid-area: page;
}

.icon {
   width: 1em;
   height: 1em;
}

.Navigation {
   grid-area: navigation;

   text-transform: uppercase;
   font-family: 'Druk Wide Bold';
   font-size: 0.7em;

   width: 100%;
   max-width: 100vw;

   background: white;
   color: black;

   position: sticky;
   bottom: 0;

   display: grid;
   grid-template: 
      'menu icons';
   place-content: space-between;   

   padding: 0 1em;
}

.icons {
   grid-area: icons;

   display: grid;
   grid-template:
      'youtube twitter instagram'
      / auto   auto    auto;
   gap: .2em;
}

.menu {
   grid-area: menu;

   display: grid;
   grid-template:
      'home  studio projects journal shop contact'
     / auto  auto   auto     auto    auto auto;
   gap: 1em;
}

.home {
   grid-area: home;
}
.studio {
   grid-area: studio;
}
.projects {
   grid-area: projects;
}
.journal {
   grid-area: journal;
}
.shop {
   grid-area: shop;
}
.contact {
   grid-area: contact;
}
.youtube {
   grid-area: youtube;
}
.twitter {
   grid-area: twitter;
}
.instagram {
   grid-area: instagram;
}

@media screen and (max-width: 1080px) {
   .menu {
      grid-template:
         'home  studio projects'
         'journal shop contact'
      / auto  auto   auto;
      gap: unset;
      column-gap: 1em;
   }

   .icons {
      place-items: center;
      place-content: center;
   }
}

@media screen and (max-width: 800px) {
   .Navigation {
   grid-template: 
      'menu'
      'icons'
      / 1fr;
   }

   .menu {
      grid-template:
         'home'
         'studio'
         'projects'
         'journal'
         'shop'
         'contact'
      / 1fr;
      place-items: center;
   }

   .icons {
      place-items: unset;
      font-size: 1.2em;
   }
}