@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);
@font-face {
   font-family: 'Druk Wide Bold';
   src: url('//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot');
   src: url('//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot?#iefix') format('embedded-opentype'),
      url('//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff2') format('woff2'),
      url('//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff') format('woff'),
      url('//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.ttf') format('truetype'),
      url('//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.svg#Druk Wide Bold') format('svg');
}

#root {
   min-height: 100vh;

   display: grid;
   grid-template-rows:
      1fr
      auto;
   grid-template-areas:
      'page'
      'navigation';
}

.page {
   grid-area: page;
}

.Navigation {
   grid-area: navigation;

   text-transform: uppercase;
   font-family: 'Druk Wide Bold';
   font-size: 0.7em;

   width: 100%;
   max-width: 100vw;
   overflow-x: hidden;

   background: white;
   color: black;

   position: sticky;
   bottom: 0;
}

.row {
   display: flex;
   flex-flow: row wrap;
}

.icon {
   width: 1em;
   height: 1em;
}

.padded {
   padding: 0.1em 1em;
}

.marginedSides {
   margin: 0 1.2em;
}

.smallMarginedSides {
   margin: 0 0.2em;
}

/* Spreads the children equally with a child on both sides */
.spreadChildren {
   display: flex;
   justify-content: space-between;
}
