.addLog {
    font-size: .75em;
    padding: 1em 2em 2em 2em;
    color: gray;
}

.button {
    color: gray;
    border: 1px solid gray;
    padding: .5em .75em;

    width: 100%;
    margin-top: .5em;
    text-align: center;
}

.label {
    display: block;
}

#addLogInput,
#addLogInput::placeholder,
.dangerous {
    color: red;
    border-color: red;
    text-overflow: ellipsis;
}
