/* TODO: Deduplicate with .Home */
.Journal {
   max-width: 100%;
   min-width: 100%;
   min-height: 100vh;

   font-family: Helvetica;
   color: white;
   text-transform: uppercase;
   background: black;

   padding-bottom: 8em;
}

.Journal a {
   text-decoration: none;
}

.centralizer {
   display: flex;
   align-items: center;
   justify-content: center;
   height: fit-content;
}

.logs {
   width: 35vw;
}

@media screen and (max-width: 1200px) {
   .logs {
      width: 50vw;
   }
}

@media screen and (max-width: 800px) {
   .logs {
      width: 75vw;
   }
}

@media screen and (max-width: 450px) {
   .logs {
      width: 95vw;
   }
}
