.Log {
   display: grid;
   grid-template-areas:
      'logHeader logTime'
      'article   logTime';
   grid-template-columns: 1fr auto;
   gap: 1em;

   min-height: 100%;
   max-width: 100%;

   background-color: black;
   color: white;

   font-family: Helvetica;
}

.logTimeWrapper {
   grid-area: logTime;

   font-weight: bold;
   text-align: center;
}

.logTimeSeparator {
   display: block;
}

.logHeader {
   grid-area: logHeader;

   display: grid;
   grid-template-areas:
      'titleImage titleImage'
      'title      subtitle';
   grid-template-columns: 3fr 2fr;

   justify-items: center;
   align-items: center;
   justify-content: center;
   align-content: center;

   padding-bottom: 1em;
}

.article {
   grid-area: article;

   padding: 0 2em;
   margin-bottom: 3em;
}

.titleImageWrapper {
   grid-area: titleImage;
   position: unset !important;

   min-width: 50vw;
}

.titleImage {
   object-fit: contain;
   width: 100% !important;
   position: relative !important;
   height: unset !important;
}

.title {
   grid-area: title;

   font-size: 3em;
   font-weight: bolder;
   text-align: center;
}

.subtitle {
   grid-area: subtitle;

   font-size: 1.5em;
   font-weight: normal;
   text-align: center;
}

.collapsingBottomBorder {
   box-shadow: 0 0 0 0 white, 0 0.1em 0 0 white, 0 0.1em 0 0 white, /* Just to fix the corner */ 0 0 0 0 white inset,
      0 0 0 0 white inset;
}

.paragraph {
   margin: 1em auto;
}

.paragraphHeader {
   font-size: 1.5em;
   font-weight: bolder;
}

.list {
   list-style-position: outside;
   padding-left: 2em;
}

ul.list  {
   list-style: disc;
}

ol.list  {
   list-style: lower-roman;
}

.delimiter {
   height: 1px;
   margin: 1em auto;
}

.quote {
   border-left: 1px solid white;
   padding-left: .5em;
   font-style: italic;

   margin: 1em auto;
   font-size: 1.2em;
}

.quote footer {
   font-size: .75em;
   font-weight: bold;
}

.quote footer::before {
   content: "~~";
}

@media screen and (max-width: 1200px) {
   .Log {
      grid-template-areas:
         'logTime'
         'logHeader'
         'article';

      grid-template-columns: 1fr;
   }

   .logTimeSeparator {
      display: inline;
      place-self: center;
   }

   .titleImage {
      min-width: 100% !important;
      width: 95vw !important;
   }
}

@media screen and (max-width: 1000px) {
   .logHeader {
      grid-template-areas:
         'titleImage titleImage'
         'title      title'
         'subtitle   subtitle';
   }
}
