.collapsingTopBottomBorder {
   box-shadow: 0 0 0 0 white, 0 0.1em 0 0 white, 0 0.1em 0 0 white, /* Just to fix the corner */ 0 0 0 0 white inset,
      0 0.1em 0 0 white inset;
}

.padded {
   padding: 0.8em 0.5em;
}

.title {
   font-size: 1.2em;
}

.subtitle {
   font-size: 0.6em;
}

.titleImage {
   max-width: 12em;
   height: auto;
}
