.collapsingTopBottomBorder {
   box-shadow: 0 0 0 0, 0 0.1em 0 0, 0 0.1em 0 0, /* Just to fix the corner */ 0 0 0 0 inset, 0 0.1em 0 0 inset;
}

.draft {
   color: gray;
}

.published {
   color: white;
}

.padded {
   padding: 0.8em 0.5em;
}

.title {
   font-size: 1.2em;
}

.subtitle {
   font-size: 0.6em;
}

.titleImage {
   max-width: 12em;
   height: auto;
}
